
*{
  box-sizing:  border-box ;
  margin: 0;
  padding: 0;
}

body{ 
display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

h1{
  font-size: 55px;
  border-bottom: solid 5px black;
  margin-bottom: 56px;
}

.emoji{
 font-size: 160px;
 margin-left: 60px;
 cursor: pointer;
 display: none;

}

